<%= render "shareds/header" %>

<div class='main'>
  <div class="setumei">
    <div class="syoukai">
      <%= image_tag "baseball-No.1.jpg", class:"list-pict" %>
    </div>
    <div class="yakyu">
      <h4 class="as">スポーツをしよう！！</h4>
      <div class="yuyu"><li class="intro">公園の写真を投稿しよう！</li>
                      <li class="intro">「ここの公園ボール遊びできない!」</li>
                      <li class="intro">こんな経験ないですか？</li>
                      <li class="intro">こんな時に、「Ball Seach」を使えば</li>
                      <li class="intro">近くの公園の遊べるものがわかります!</li>
                      <li class="intro">遊び終わった後は、写真と一緒に</li>
                      <li class="intro">「New Tweet」から投稿してください！</li>
      </div>
    </div>
  </div>

  <div class="seach-a">
    <div class="seach">
      <%= search_form_for @q, url: search_tweets_path, class:"seach-forms" do |f| %>
        <label class="seach-ob" >検索</label>
        <div class="seach-th">
          <%= f.search_field :title_cont, placeholder:"公園名を入力してください" ,class:"seach-input" %>
          <%= f.submit "検索" , class:"seach-btn" %>
        <div class="seach-th">
      <% end %>
    </div>
  </div>

  <h2 class="sinki">NEW TWEET 一覧表示</h2>

  <ul class="tweet-wrap">
    <% @tweets.each do |tweet|%>
      <li class="tweet-all">
      <%= link_to tweet_path(tweet.id), class:"imag-img" do %>
        <div class='image-content'>
          <%= image_tag tweet.image, class: "tweet-img" %>
        </div>
        <div class='tweet-title'>
          <%= tweet.title %>
        </div>
        <div class='tweet-text'>
          <%= tweet.area.name %>
        </div>
      <% end %>
      </li>
    <% end %>
  </ul>
</div>