<%= render "shareds/header" %>

<div class='main'>
  <div class="setumei">
    <div class="syoukai">
      <%= image_tag "baseball-No.1.jpg", class:"list-pict" %>
    </div>
    <div class="yakyu">
      <h4 class="as">スポーツをしよう！！</h4>
      <div class="yuyu">　ororoororororqqqqqqqqqqqq
                      <br>ororoorororor
                      <br>ororororororo</div>
    </div>
  </div>
  <h2 class="sinki">NEW TWEET 一覧表示</h2>
  <ul class="tweet-wrap">
    <% @tweets.each do |tweet|%>
      <li class="tweet-all">
      <%= link_to tweet_path(tweet.id), class:"imag-img" do %>
        <div class='image-content'>
          <%= image_tag tweet.image, class: "tweet-img" %>
        </div>
        <div class='tweet-title'>
          <%= tweet.title %>
        </div>
        <div class='tweet-text'>
          <%= tweet.area.name %>
        </div>
      <% end %>
      </li>
    <% end %>
  </ul>
</div>