<%= render "shareds/header" %>

<h2 class="sinki">TWEETの詳細</h2>

<div class="main-show">
  <%= link_to ("投稿者 #{@tweet.user.user_name} さん"), user_path(@tweet.user.id), class: :tweet_user %>
  <% if user_signed_in? && current_user.id == @tweet.user_id %>
    <div class="tweet__manage">
      <%= link_to "編集する", edit_tweet_path(@tweet.id), class: :tweet_edit_btn %>
      <%= link_to "削除する", tweet_path(@tweet.id), method: :delete, class: :tweet_delete_btn %>
    </div>
  <% end %>
  <div class='image-content-show'>
    <%= image_tag @tweet.image, class: "tweet-img-show" %>
  </div>
  <div class='show-tweet-show'>
    <%= @tweet.title %>
  </div>
  <h2 class="sinki">公園の紹介</h2>
  <div class='show-tweet-text'>
    <%= @tweet.text %>
  </div>
  <table class="show-table">
    <tbody>
      <tr>
        <th class="show-area">地域</th>
        <td class="show-value"><%= @tweet.area.name %></td>
      </tr>
      <tr>
        <th class="show-area">遊べるもの</th>
        <td class="show-value"><%= @tweet.category.name %></td>
      </tr>
      <tr>
        <th class="show-area">公園の規模</th>
        <td class="show-value"><%= @tweet.status.name %></td>
      </tr>
    </tbody>
  </table>

  <div class="tweet-commets">
    <% if user_signed_in? %>
      <%= form_with(model: [@tweet, @comment], local: true) do |f| %>
        <div class="field">
          <%= f.label :comments, "コメント入力" %><br />
          <%= f.text_field :text, class:"comment-form" %><%= f.submit "送信する", class: :form_btn  %>
        </div>
        <div class="actions">
        </div>
      <% end %>
    <% end %>
    <ul class="comment-lists">
      <li class="itiran">コメント一覧</li>
    <% @comments.reverse.each do |comment| %>
      <div class="comments_lists">
        <li class="comments_list">
          ■<p><%= comment.text %></p><%= time_ago_in_words(comment.created_at) + "前" %>
        </li>
        <li class="comments_user">
          投稿者<p><%= comment.user.user_name %></p>さん
        </li>
      </div>
    <% end %>
    </ul>
  </div>
</div>
